container{
	height: 300px;
	width: 100%;
}

#display{
	width: 100%;
	font-size: 72px;
	text-align: center;
	margin: 0px auto;
	color: white;
}

.buttons{
	text-align: center
	;
}

.html{
	text-align: center;
}
button{
	text-decoration: none;
	font-family: 'Lobster Two', cursive;
	display: inline-block;
	border: none;
	border-radius: 3px;
	padding: 200px;
	width: 100px;
	height: 50px;
	outline: none;
	background-color: #76f7d7;
}

html{
	text-align: center;
	background-color: #b7f4ff;
	padding: 200px;
}

button:hover{
	background-color: #a3f7db;
}